#Part 1

In [1]:
import pandas as pd

In [14]:
url = 'https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/Natalie-Final-Project-Stats201/main/data/Queried_Data/Korea-population-in-the-largest-city.csv'
df = pd.read_csv(url)
df.head(5)

   Year  Population
0  1960   34.067524
1  1961   34.751286
2  1962   35.262383
3  1963   35.824532
4  1964   36.474350

In [15]:
df.head()

   Year  Population
0  1960   34.067524
1  1961   34.751286
2  1962   35.262383
3  1963   35.824532
4  1964   36.474350

#Part 2

In [16]:
df.columns

Index(['Year', 'Population'], dtype='object')

In [17]:
df.dtypes

Year            int64
Population    float64
dtype: object

#Part 3

In [18]:
df['POPg'] = df["Population"].pct_change(1)
df.head()

   Year  Population      POPg
0  1960   34.067524       NaN
1  1961   34.751286  0.020071
2  1962   35.262383  0.014707
3  1963   35.824532  0.015942
4  1964   36.474350  0.018139

In [19]:
df = df.dropna()
df.head()

   Year  Population      POPg
1  1961   34.751286  0.020071
2  1962   35.262383  0.014707
3  1963   35.824532  0.015942
4  1964   36.474350  0.018139
5  1965   37.174568  0.019198

In [20]:
cut = 0

In [23]:
df['Positiveg'] = df['POPg'].apply(lambda x: 1 if x>= cut else 0)
df.head(40)

    Year  Population      POPg  Positiveg
1   1961   34.751286  0.020071          1
2   1962   35.262383  0.014707          1
3   1963   35.824532  0.015942          1
4   1964   36.474350  0.018139          1
5   1965   37.174568  0.019198          1
6   1966   37.918068  0.020000          1
7   1967   38.500912  0.015371          1
8   1968   39.063889  0.014622          1
9   1969   39.714882  0.016665          1
10  1970   40.474319  0.019122          1
11  1971   40.511257  0.000913          1
12  1972   40.329338 -0.004491          0
13  1973   40.222260 -0.002655          0
14  1974   40.173489 -0.001213          0
15  1975   40.170906 -0.000064          0
16  1976   39.764515 -0.010117          0
17  1977   39.267803 -0.012491          0
18  1978   38.840027 -0.010894          0
19  1979   38.465988 -0.009630          0
20  1980   38.126278 -0.008831          0
21  1981   37.508171 -0.016212          0
22  1982   36.783989 -0.019307          0
23  1983   36.139786 -0.017513          0
24  1984   35.631855 -0.014055          0
25  1985   35.257156 -0.010516          0
26  1986   34.785217 -0.013386          0
27  1987   34.307426 -0.013735          0
28  1988   33.892796 -0.012086          0
29  1989   33.531311 -0.010666          0
30  1990   33.224144 -0.009161          0
31  1991   32.512142 -0.021430          0
32  1992   31.589268 -0.028386          0
33  1993   30.713413 -0.027726          0
34  1994   29.874838 -0.027303          0
35  1995   29.069729 -0.026949          0
36  1996   28.428160 -0.022070          0
37  1997   27.866352 -0.019762          0
38  1998   27.375689 -0.017608          0
39  1999   26.897226 -0.017478          0
40  2000   26.394642 -0.018685          0

#Part 4

In [24]:
df['POPg_past'] =df['POPg'].shift(1)
df.head()

   Year  Population      POPg  Positiveg  POPg_past
1  1961   34.751286  0.020071          1        NaN
2  1962   35.262383  0.014707          1   0.020071
3  1963   35.824532  0.015942          1   0.014707
4  1964   36.474350  0.018139          1   0.015942
5  1965   37.174568  0.019198          1   0.018139

In [25]:
window = 5

In [26]:
df['POPg_past_ma5']=df['POPg_past'].rolling(window=window,min_periods=1).mean()
df.head(20)

    Year  Population      POPg  Positiveg  POPg_past  POPg_past_ma5
1   1961   34.751286  0.020071          1        NaN            NaN
2   1962   35.262383  0.014707          1   0.020071       0.020071
3   1963   35.824532  0.015942          1   0.014707       0.017389
4   1964   36.474350  0.018139          1   0.015942       0.016907
5   1965   37.174568  0.019198          1   0.018139       0.017215
6   1966   37.918068  0.020000          1   0.019198       0.017611
7   1967   38.500912  0.015371          1   0.020000       0.017597
8   1968   39.063889  0.014622          1   0.015371       0.017730
9   1969   39.714882  0.016665          1   0.014622       0.017466
10  1970   40.474319  0.019122          1   0.016665       0.017171
11  1971   40.511257  0.000913          1   0.019122       0.017156
12  1972   40.329338 -0.004491          0   0.000913       0.013339
13  1973   40.222260 -0.002655          0  -0.004491       0.009366
14  1974   40.173489 -0.001213          0  -0.002655       0.005911
15  1975   40.170906 -0.000064          0  -0.001213       0.002335
16  1976   39.764515 -0.010117          0  -0.000064      -0.001502
17  1977   39.267803 -0.012491          0  -0.010117      -0.003708
18  1978   38.840027 -0.010894          0  -0.012491      -0.005308
19  1979   38.465988 -0.009630          0  -0.010894      -0.006956
20  1980   38.126278 -0.008831          0  -0.009630      -0.008639

#Part 5

In [27]:
from sklearn.model_selection import TimeSeriesSplit
tss = TimeSeriesSplit()
for train_idx, test_idx in tss.split(df):
  pass

train_df = df.filter(items=train_idx,axis=0)
test_df = df.filter(items=test_idx,axis=0)

In [28]:
train_df.head()

   Year  Population      POPg  Positiveg  POPg_past  POPg_past_ma5
1  1961   34.751286  0.020071          1        NaN            NaN
2  1962   35.262383  0.014707          1   0.020071       0.020071
3  1963   35.824532  0.015942          1   0.014707       0.017389
4  1964   36.474350  0.018139          1   0.015942       0.016907
5  1965   37.174568  0.019198          1   0.018139       0.017215

In [29]:
test_df.head()

    Year  Population      POPg  Positiveg  POPg_past  POPg_past_ma5
51  2011   23.976824 -0.006208          0  -0.006721      -0.007562
52  2012   23.925545 -0.002139          0  -0.006208      -0.007194
53  2013   23.891085 -0.001440          0  -0.002139      -0.006258
54  2014   23.815546 -0.003162          0  -0.001440      -0.004681
55  2015   23.764509 -0.002143          0  -0.003162      -0.003934

In [30]:
df_C_train = train_df[["POPg","POPg_past_ma5"]]
df_C_test = test_df[["POPg","POPg_past_ma5"]]

In [31]:
df_C_train = train_df[["POPg","POPg_past_ma5"]]
df_C_test = test_df[["POPg","POPg_past_ma5"]]

#Part 6

classification

In [32]:
cols_C = ['Positiveg','POPg_past_ma5']

In [33]:
df_C_train = train_df[cols_C]
df_C_test = test_df[cols_C]

In [34]:
df_C_train.head()

   Positiveg  POPg_past_ma5
1          1            NaN
2          1       0.020071
3          1       0.017389
4          1       0.016907
5          1       0.017215

In [36]:
df_C_train.to_csv('Classification_Train_final.csv')

In [37]:
df_C_test.head()

    Positiveg  POPg_past_ma5
51          0      -0.007562
52          0      -0.007194
53          0      -0.006258
54          0      -0.004681
55          0      -0.003934

In [38]:
df_C_test.to_csv('Classification_Test_final.csv')

regression

In [39]:
cols_R = ['POPg','POPg_past_ma5']

In [40]:
df_R_train = train_df[cols_R]
df_R_test = test_df[cols_R]

In [43]:
df_R_train.head()

       POPg  POPg_past_ma5
1  0.020071            NaN
2  0.014707       0.020071
3  0.015942       0.017389
4  0.018139       0.016907
5  0.019198       0.017215

In [44]:
df_R_train.to_csv('Regression_Train_final.csv')

In [45]:
df_R_test.head()

        POPg  POPg_past_ma5
51 -0.006208      -0.007562
52 -0.002139      -0.007194
53 -0.001440      -0.006258
54 -0.003162      -0.004681
55 -0.002143      -0.003934

In [46]:
df_R_test.to_csv('Regression_Test_final.csv')